<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:head_tags) %>

    <script>
      var plugin_path = 'assets/plugins/'
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_ANALYTICS_KEY'] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', <%= ENV['GOOGLE_ANALYTICS_KEY'] %>);
    </script>
  </head>

  <body>
    <%= render 'partials/header' %>
    <%= yield %>
    <%= render 'partials/footer' %>
    <%= yield :after_js %>
  </body>
</html>
